@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    background-color: hsl(235, 18%, 26%);
    color: hsl(231, 7%, 60%);
    font-family: 'Chakra Petch', sans-serif;
    min-height: 100vh;
}

.container {
    background-color: hsl(0, 0%, 100%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.btn {
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
}

.btn:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(4, 100%, 67%);
    box-shadow: -1px 13px 17px -4px hsla(4, 100%, 67%, 0.792);
}

.card-text {
    color: hsl(234, 29%, 20%);
}

.form-label {
    font-weight: 500;
}

.form-control:focus {
    box-shadow: none;
    border-color: hsl(234, 29%, 20%);
    color: hsl(234, 29%, 20%);
}

/* Success Card Style */


.success-card-text {
    font-size: 16px;
}

/* Adddding responsive behaviour */
@media (max-width: 768px) {
    .card {
        border: 0;
    }

    .img-fluid {
        border-radius: 0 !important;
    }

    body {
        background-color: hsl(0, 0%, 100%);
    }
}
